{% extends "base.html" %}
{% load static wagtailimages_tags wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}

{# if request.user.is_authenticated #}
<!-- Section Projects -->
        <section class="py-5"> <!-- Projects -->
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

{% for p in self.get_children %} {# projects under home #}
{% for project in p.get_children.live %} {# project under projects #}

                    {% if request.user.is_authenticated %}
                    {% if not project.specific.is_public %}
{%include "prj11.html"%} {#file in templates folder#}
                    {% endif %}
                    {% endif %}

                    {% if project.specific.is_public %}
{%include "prj11.html"%}{#file in templates folder#}
                    {% endif %}

{% endfor %}
{% endfor %}

                </div>
            </div>
        </section>


{% endblock content %}
