{% extends "base.html" %}
{% load static wagtailimages_tags wagtailcore_tags %}
{% load tz %}
{% get_current_timezone as TIME_ZONE %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}

{# if request.user.is_authenticated #}
<!-- Section Projects -->
        <section class="py-5"> <!-- Projects -->
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    {% for p in self.get_children %} {# projects under home #}
                    {% for project in p.get_children.live %} {# project under projects #}
                    {% if request.user.is_authenticated %}
                    {% if not project.specific.is_public %}


                        <div class="col mb-5">
                <div class="card h-100">
                    <!-- Project image-->
                    {% image project.specific.representative_image original as tizer %}
                    <img class="card-img-top" src="{{ tizer.url }}" alt="{{ project.title}}" />
                    <!-- Project details-->
                    <div class="card-body p-4">

                        <div class="text-center">
                            <!-- Project name-->
                            <h5 class="fw-bolder">{{ project.title}}</h5>

                            {{ project.specific.date|date:"d F Y"}}<br>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{{ project.url }}">Докладніше</a></div>
                    </div>
                </div>
            </div>
                    {% endif %}
                    {% endif %}

                    {% if project.specific.is_public %}

                        <div class="col mb-5">
                <div class="card h-100">
                    <!-- Project image-->
                    {% image project.specific.representative_image original as tizer %}
                    <img class="card-img-top" src="{{ tizer.url }}" alt="{{ project.title}}" />
                    <!-- Project details-->
                    <div class="card-body p-4">

                        <div class="text-center">
                            <!-- Project name-->
                            <h5 class="fw-bolder">{{ project.title}}</h5>
                            {{ project.specific.date|date:"d F Y"}}<br>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{{ project.url }}">Докладніше</a></div>
                    </div>
                </div>
            </div>

                    {% endif %}

                    {% endfor %}
                    {% endfor %}

                </div>
            </div>
        </section>

{% endblock content %}
