.container {
  display: flex;
  flex-wrap: wrap;
}

.row {
    width:95%;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    margin: 0 auto 20px auto;
}

.block {
  width: calc(24% - 20px);
  min-width:257px;
  display: flex;
  margin: 10px 5px;
}

.photo img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.text {
width: calc(100% - 105px);
  margin-left: 20px;
}
.stuff-name {
	font-weight: bold;
}

