{% extends "base.html" %}
{% load static wagtailimages_tags wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock body_class %}
{% block extra_css %}{% endblock extra_css %}
{% block content %}
{% if page.get_project.specific.is_public %}
{% include "filefolder.html" %}

{% else %}
{% if request.user.is_authenticated %}
{% include "filefolder.html" %}

{% endif %}
{% endif %}
{%if user.is_superuser %}
<a class="btn btn-primary" href="/editproject/uploadprojectfiles/{{self.pk}}" role="button">Upload</a>
{%endif%}
<br>
{% endblock content %}
