{% extends "base.html" %}
{% load static wagtailimages_tags wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock body_class %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/filefolder.css' %}">

{% endblock extra_css %}
{% block content %}
{% if page.get_project.specific.is_public %}
{% include "filefolder.html" %}

{% else %}
{% if request.user.is_authenticated %}
{% include "filefolder.html" %}

{% endif %}
{% endif %}
{%if user.is_superuser %}
<a class="btn btn-primary" href="/project/uploadprojectfiles/{{self.pk}}" role="button">Завантажити</a>
{%endif%}
<br>
{#deleted: 2 https://forum.djangoproject.com/t/how-to-create-dynamic-modals-popups-in-template/8338/6 #}


{% endblock content %}

{% block extra_js %}


{% endblock extra_js %}