{% extends "base.html" %}
{% load static i18n wagtailimages_tags wagtailcore_tags %}
{% load l10n %}
{% load get_months %}


{% block body_class %}template-homepage{% endblock %}
{% block extra_css %}
{#<link rel="stylesheet" href="{% static 'css/project.css' %}" />#}
{% endblock extra_css %}

{% block content %}
<!--
<section class="py-5">
    <div class="container px-4 px-lg-5">
        <form id="filterForm"  class="float-end">
        {% for month in months %}
            <div class="form-check form-check-inline">
                <input type="checkbox" type="checkbox" name="months" value="{{ month }}">
                <label class="form-check-label" for="inlineCheckbox1">{{ month_name|months_by_num:month|date:"F" }}</label>
            </div>
        {% endfor %}
        {% for year in years %}
            <div class="form-check form-check-inline">
                <input type="checkbox" type="checkbox" name="years" value="{{ year }}">
                <label class="form-check-label" for="inlineCheckbox1">{{ year }}</label>
            </div>
        {% endfor %}
            {# Add more year checkboxes as needed #}
          <button type="submit" class="btn btn-outline-dark mt-auto">{% translate "Обрати" %}</button>
        </form>
        <script>
        document.getElementById("filterForm").addEventListener("submit", function(event) {
          event.preventDefault(); // Prevent the form from submitting normally
          var form = event.target;
          var formData = new FormData(form);
          var selectedMonths = Array.from(formData.getAll("months"));
          var selectedYears = Array.from(formData.getAll("years"));
          // Construct the URL with active checkbox values
          var url = "{{ request.path }}?" + constructQueryString({ months: selectedMonths, years: selectedYears });
          // Redirect to the constructed URL
          window.location.href = url;
        });

        function constructQueryString(params) {
          var queryString = "";
          for (var key in params) {
            if (params.hasOwnProperty(key)) {
              var paramValue = params[key];
              // Skip empty parameters
              if (paramValue.length === 0) {
                continue;
              }
              // Join multiple values with commas
              if (Array.isArray(paramValue)) {
                paramValue = paramValue.join(",");
              }
              // Encode parameter key and value
              var encodedKey = encodeURIComponent(key);
              var encodedValue = encodeURIComponent(paramValue);
              // Append the parameter to the query string
              queryString += encodedKey + "=" + encodedValue + "&";
            }
          }
          // Remove the trailing "&" and return the constructed query string
          return queryString.slice(0, -1);
        }
        </script>
    </div>
</section>
-->

<!-- Section-PROJECTS-PAGE -->

<section class="py-5">
    {% if grouped_projects %}
    <div class="container px-4 px-lg-5 mt-5">
    <div class="d-flex justify-content-center"><h2>{% now 'Y' %}</h2></div>
    {% for month, projects in grouped_projects.items %}
        <div style="margin-bottom: 10px">
        <div><h2>{{ month_name|months_by_num:month|date:"F" }}</h2></div>
        <div><hr></div>
        </div>

        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

            {% for project in projects %}
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Project image-->
                    {% image project.specific.representative_image original as tizer %}
                    <img class="card-img-top" src="{{ tizer.url }}" alt="{{ project.title}}" />
                    <!-- Project details-->
                    <div class="card-body p-4">

                        <div class="text-center">
                            <!-- Project name-->
                            <h5 class="fw-bolder">{{ project.title}}</h5>
                            {{ project.date|date}}
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <a class="btn btn-outline-dark mt-auto" href="{{ project.url }}">
                                {% translate "Докладніше" %}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    {% endfor %}
    </div>
    {% endif %}
{# years list #}
    <div class="container px-4 px-lg-5 mt-5">
    {% for year, projects in next_years_grouped_projects.items %}
    <div class="d-flex justify-content-center"><h2>{{ year }}</h2></div>
        <div style="margin-bottom: 10px">
            <div><hr></div>
        </div>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

            {% for project in projects %}
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Project image-->
                    {% image project.specific.representative_image original as tizer %}
                    <img class="card-img-top" src="{{ tizer.url }}" alt="{{ project.title}}" />
                    <!-- Project details-->
                    <div class="card-body p-4">

                        <div class="text-center">
                            <!-- Project name-->
                            <h5 class="fw-bolder">{{ project.title}}</h5>
                            {{ project.date|date}}
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{{ project.url }}">
                            {% translate "Докладніше" %}
                        </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    {% endfor %}
    </div>

</section>

{% endblock content %}