{% extends "base.html" %}
{% load static i18n wagtailimages_tags wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/contacts.css' %}">
{% endblock extra_css %}

{% block content %}

  <div class="container">

    <div class="row">
{% for contact in contact_list %}
      <div class="block">
        <div class="photo">{% image contact.representative_image width-100 %}</div>
        <div class="text">
          <span><b>{{ contact.name }}</b></span><br>
          <span>{{ contact.company_position }}</span><br>
          <span>{{ contact.company }}</span><br><br>
          <span><b>{{ contact.email }}</b></span><br>
        </div>
      </div>
{% endfor %}

    </div>

  </div>


{% endblock content %}
